* {
  box-sizing: border-box;
  /* overflow-x: auto; */
  /* CSS debugging tricks */
  /* trick 1 - use outline for all elements - outline does not add any extra space like border */
  /* outline: 1px solid red !important; */

  /* Trick 2 - use light background for everything */
  background-color: rgb(0, 255, 0, 0.1);
  /* background-color:  rgba(0, 255, 0, 0.1); */
}

/* another trick to distinguish between sibling elements */
/* *:nth-child(2n) {
  outline: 1px solid red;
} */

.text {
  color: #4d4d4d;
  font-size: 80px;
  font-weight: 600;
  -webkit-text-stroke: 2px #575757;
  position: relative;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #05a9f3;
  -webkit-text-stroke: 0px #05a9f3;
  overflow: hidden;
  animation: loading 5s linear infinite;
}

@keyframes loading {
  0% {
    clip-path: polygon(
      36% 100%,
      51% 100%,
      67% 100%,
      82% 100%,
      100% 100%,
      0 100%,
      7% 100%,
      17% 100%,
      24% 100%
    );
  }
  10% {
    clip-path: polygon(
      42% 94%,
      52% 97%,
      67% 95%,
      86% 90%,
      100% 100%,
      0 100%,
      9% 93%,
      20% 91%,
      30% 92%
    );
  }
  20% {
    clip-path: polygon(
      49% 84%,
      61% 84%,
      75% 79%,
      86% 90%,
      100% 100%,
      0 100%,
      0 89%,
      17% 85%,
      32% 90%
    );
  }
  30% {
    clip-path: polygon(
      50% 83%,
      61% 84%,
      75% 79%,
      90% 85%,
      100% 100%,
      0 100%,
      0 89%,
      17% 85%,
      35% 82%
    );
  }
  40% {
    clip-path: polygon(
      55% 83%,
      63% 76%,
      78% 76%,
      90% 85%,
      100% 100%,
      0 100%,
      0 80%,
      17% 85%,
      35% 87%
    );
  }
  50% {
    clip-path: polygon(
      59% 67%,
      65% 74%,
      78% 76%,
      96% 78%,
      100% 100%,
      20% 100%,
      10% 69%,
      18% 76%,
      36% 73%
    );
  }
  60% {
    clip-path: polygon(
      54% 78%,
      65% 74%,
      83% 69%,
      96% 78%,
      100% 100%,
      0 100%,
      0 69%,
      20% 69%,
      36% 73%
    );
  }
  70% {
    clip-path: polygon(
      63% 46%,
      76% 43%,
      86% 37%,
      100% 35%,
      100% 100%,
      0 100%,
      0 38%,
      25% 34%,
      42% 42%
    );
  }
  80% {
    clip-path: polygon(
      57% 36%,
      79% 29%,
      92% 31%,
      100% 35%,
      100% 100%,
      0 100%,
      0 34%,
      18% 25%,
      37% 30%
    );
  }
  90% {
    clip-path: polygon(
      50% 26%,
      72% 28%,
      90% 24%,
      100% 32%,
      100% 100%,
      0 100%,
      0 29%,
      16% 25%,
      34% 35%
    );
  }
  100% {
    clip-path: polygon(
      57% 30%,
      73% 24%,
      90% 24%,
      100% 32%,
      10% 100%,
      30% 100%,
      10% 29%,
      16% 25%,
      36% 29%
    );
  }
}

/* Balls falling animation */

.ball-box {
  width: 100%;
  height: 11rem;
  border-top: 1px dotted aqua;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.ball-box > div {
  width: 0.25rem;
  height: 0.75rem;
  border: 1px inset lightblue;
  background-color: #05a9f3;

  border-radius: 50%;
  position: relative;
  top: 0;
  box-shadow: 2px 3px 5px inset aqua;
}

.ball1 {
  animation: fall 1s linear both infinite;
}
.ball2 {
  animation: fall 2s linear both infinite;
}
.ball3 {
  animation: fall 3s linear both infinite;
}
.ball4 {
  animation: fall 4s linear both infinite;
}
.ball5 {
  animation: fall 5s linear both infinite;
}

.ball6 {
  animation: fall 6s linear both infinite;
}

@keyframes fall {
  0% {
    top: 0%;
  }
  25% {
    top: 30%;
  }
  50% {
    top: 60%;
  }
  75% {
    top: 85%;
  }
  100% {
    top: 100%;
  }
}

/* slide top animation */

.slide-top {
  position: absolute;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-6 14:42:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-250px);
    transform: translateY(-250px);
  }
}

/* Clip path */

.clip {
  width: 10rem;
  height: 10rem;
  background-color: lightgray;
  /* transform: translateY(-10rem); */
  transition: clip-path 1s linear, background-color 2s linear;
  clip-path: circle(90%);
  margin-inline: auto;
}

.clip:hover {
  background-color: green;
  clip-path: circle(5rem at 5rem 5rem);
}

/* fancy underline effect */

.text-content {
  text-decoration: none;
  line-height: 150%;
  text-align: left;
}

.underline {
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  font-weight: 900;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.underline:hover {
  background-size: 100% 3px;
}

/* .text-container {
  display: flex;
  text-align: left;
} */

.circle {
  width: 10rem;
  height: 10rem;
  float: left;
  border-radius: 50%;
  background-color: red;
  shape-outside: circle(50%);
  margin: 0.5rem;
}

.text-in-circle {
  width: 22rem;
  height: 22rem;
  margin-inline: auto;
  padding: 1.2rem;
  border-radius: 50%;
  hyphens: auto;
  text-align: left;
  text-align-last: center;
}

[area-hidden="true"] {
  display: contents;
}

[area-hidden="true"]::before,
[area-hidden="true"]::after {
  content: "";
  float: left;
  width: 50%;
  height: 100%;
  --bite: radial-gradient(
    farthest-side at var(--pos-x, 100%),
    transparent 99%,
    green
  );
  shape-outside: var(--bite);
}

[area-hidden="true"]::after {
  float: right;
  --pos-x: 0;
}
